.contact-container {
    display: flex;
    gap: 10px;
    flex: wrap;
    
  }  
  
  .contact-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 100%;
    float: left; */
  }
  .contact-item .icon {
    padding: 10px;
    border-right: 1px solid var(--color-iota);
    border-bottom: 1px solid var(--color-iota);
    color: var(--color-zeta);;
    background: var(--color-theta);
    margin-bottom: 5px;
    cursor: pointer; /* Add cursor pointer to indicate hoverable area */
  }
  .contact-item:last-child .icon{
    border-bottom: none;
  }

 .title{
    width: 80%;
    width: calc(100% - 55px);
    font-weight: 700;
    opacity: 0;
    text-align: center;
    margin-top: 5px;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s; /* Smooth transition */
    
  }

  .contact-item .title.only{
    margin-top: 10px;
  }
  .contact-item .description{
    width: 80%;
    width: calc(100% - 55px);
    color: var(--color-alpha);
  }

  .contact-text-container {
    width: 100%;
    text-align: center;
    margin-top: 20px; 
  }

  .hover-text-container {
    width: 100%;
    text-align: left;
    margin-top: 10px; 
    background-color: var(--color-epsilon); 
    min-height: 50px; 
  }

  .icon {
    margin-bottom: 5px;
    cursor: pointer;
  }
