<div class="row">
  <div class="col-xs-12 col-sm-7">
    <!-- ABOUT ME -->
    <div class="box">
      <h2><i class="fas fa-user ico"></i> About</h2>
      <p [innerHTML]="transformedSummary"></p>
    </div>
  </div>

  <div class="col-xs-12 col-sm-5">
    <!-- CONTACT -->
    <div class="box clearfix">
      <h2><i class="fas fa-bullseye ico"></i> Contact</h2>

      <!-- ICONS -->
      <div class="contact-container">

        <!-- LOCATION -->
        <div class="contact-item">
          <div class="icon pull-left text-center" (mouseover)="updateHoverText(basics.location.postalCode + ' ' +  basics.location.city + ' ' + basics.location.region + ' (' + basics.location.countryCode + ')')" (mouseleave)="clearHoverText()">
            <span class="fas fa-map-marker fa-fw"></span>
          </div>
        </div>

        <!-- PHONE -->
        <div class="contact-item" (mouseover)="updateHoverText(basics.phone)" (mouseleave)="clearHoverText()">
          <div class="icon pull-left text-center">
            <span class="fas fa-phone fa-fw"></span>
          </div>
        </div>

        <!-- EMAIL -->
        <div class="contact-item" (mouseover)="updateHoverText(basics?.email)" (mouseleave)="clearHoverText()">
          <div class="icon pull-left text-center">
            <span class="fas fa-envelope fa-fw"></span>
          </div>
        </div>

        <!-- PROFILES -->
        <div class="contact-item" *ngFor="let profile of profiles" (mouseover)="updateHoverText('go to ' + profile.network)" (mouseleave)="clearHoverText()">
          <div class="icon pull-left text-center" (click)="openProfile(profile)">
            <span class="fab fa-fw {{ profile.iconClass }}"></span>
          </div>
        </div>
      </div>

      <div class="hover-text-container">
        {{ hoverText }}
      </div>


     


    </div>
  </div>
</div>
