<div *ngIf="basics">


  <div class="row">
    <div class="col-xs-12 col-sm-7">
      <!-- ABOUT ME -->
      <div class="box">
        <h2><i class="fas fa-user ico"></i> About</h2>
        <p [innerHTML]="transformedSummary"></p>
      </div>
    </div>

    <div class="col-xs-12 col-sm-5">
      <!-- CONTACT -->
      <div class="box clearfix">
        <h2><i class="fas fa-bullseye ico"></i> Contact</h2>

        <!-- ICONS -->
        <div class="contact-container">
          <!-- LOCATION -->
          <div class="contact-item">
            <div class="icon pull-left text-center" 
            (mouseover)="
              updateHoverText(
                basics.location.postalCode +
                  ' ' +
                  basics.location.city +
                  ' ' +
                  basics.location.region +
                  ' (' +
                  basics.location.countryCode +
                  ')')" 
            (mouseleave)="clearHoverText()">
              <span class="fas fa-map-marker fa-fw"></span>
            </div>
          </div>

          <!-- PHONE -->
          <a [href]="'tel:' + basics.phone">
            <div class="contact-item">
              <div class="icon pull-left text-center">
                <span class="fas fa-phone fa-fw" title="call me"></span>
              </div>
            </div>
          </a>

          <!-- EMAIL -->
          <a [href]="'mailto:' + basics.email">
            <div class="contact-item">
              <div class="icon pull-left text-center">
                <span class="fas fa-envelope fa-fw" title="mail me"></span>
              </div>
            </div>
          </a>

          <!-- PROFILES -->
          <div class="contact-item" *ngFor="let profile of basics.profiles">
            <div class="icon pull-left text-center" (click)="openProfile(profile)">
              <span class="fab fa-fw {{ profile.iconClass }}" title="open {{profile.network}}"></span>
            </div>
          </div>
        </div>

        <div class="hover-text-container">
          {{ hoverText }}
        </div>
      </div>
    </div>
  </div>
</div>