

  .menubutton {
    /* background-color: #ebeff4;
    border: none; */
    color: rgb(141, 140, 140);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /* margin: 4px 2px; */
    cursor: pointer;
    border-radius: 12px;
    padding: 10px 24px;
    margin-top: 20px;
    margin-bottom: -10px;
  }

  .currentbutton {
    /* background-color: #334960; */
    text-decoration: #334960 underline;
    color: black;
    font-weight: bolder;
    /* uppdercase */;
  }

  #photo-header{
    margin-top: -75px;
  }
  #photo{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;
    padding: 5px;
    background: #334960;
    display: inline-block;
  }

  #photo img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }

  @media (min-width: 768px) {
    #contactbutton {
      display: none;
    }
  }