<div class="row">
  <div class="col-xs-12">
    <div id="photo-header" class="text-center">
      <!-- PHOTO (AVATAR) -->
      <div id="photo">
        <img src="{{ basics?.image }}" alt="avatar">
      </div>
      <div id="text-header" style="margin-top: 0px;">
        <h1>{{basics?.name}}<br><span>{{basics?.label}}</span></h1>
        
        <p id="aboutbutton" class="menubutton fas fa-user ico" (click)="navigateTo('about')" title="Wie ben ik?"></p>
        <p id="educationbutton" class="menubutton fas fa-university ico" (click)="navigateTo('education')" title="Opleiding"></p>
        <p id="workbutton" class="menubutton fas fa-suitcase ico " (click)="navigateTo('work')" title="Werkervaring"></p>
        <p id="skillsbutton" class="menubutton fas fa-tasks ico" (click)="navigateTo('skills')" title="Skills"></p>


      </div>
    </div>
  </div>
</div>

