<div *ngIf="educations">
  <div class="box">
    <div class="col-xs-12 col-sm-7">
      <h2><i class="fas fa-university ico"></i> Education</h2>
      <div class="education clearfix">
        <div *ngFor="let education of educations">
          <div class="row">
            <div class="details">
              <div class="where">
                {{education.institution}}
                <div class="pull-right">
                  {{education.location}}
                </div>
              </div>
              <div class="description">
                <div class="year pull-right">{{getFormattedDates(education.startDate, education.endDate)}}</div>

                <p *ngIf="education.studyType">
                  <i class="fas fa-graduation-cap ico"></i> 
                  {{education.studyType}}
                </p>

                <p>{{education.area}}</p>

                <div *ngIf="education.courses">
                  <div>Courses</div>
                  <ul class="list-group">
                    <li class="list-group-item" *ngFor="let course of education.courses">{{course}}</li>
                  </ul>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-contact class="hide-on-mobile"></app-contact>
  </div>
</div>



<!-- {{education}}
          <li>
            <div class="year pull-left">{{startDateYear}} {{endDateYear}}</div>
            <div class="description pull-right">
              <h3>{{institution}}</h3>
              <div class="where">{{organization}}</div>
              {{#url}}
              <div class="address">
                <a href="{{url}}" target="_blank"><i class="fas fa-globe ico"></i> {{url}}</a>
              </div>
              {{/url}}
              {{#studyType}}<p><i class="fas fa-graduation-cap ico"></i> {{studyType}}</p>{{/studyType}}
              <p>{{area}}</p>
              {{#score}}
              <p>
                Grade: {{score}}
              </p>
              <div>Courses</div>
              <ul class="list-group">
                <li class="list-group-item">{{{.}}}</li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <app-contact class="hide-on-mobile"></app-contact>
  </div>
</div> -->