.item-skills {
    color: var(--color-alpha);
    padding: 5px 10px;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.1em;
    font-weight: 600;
  }
  
  .skill {
    color: var(--color-epsilon);
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 5px 10px;
    background: var(--color-zeta);;
    font-size: .85em;
    white-space: normal; /* Allow multi-word keywords to wrap */
    word-break: break-word; /* Ensure long words break */
    max-width: 100%; /* Prevent overflow of container */
    box-sizing: border-box;
    flex-shrink: 1; /* Allow shrinking if necessary */
  }
  
  .skill-level {
    background-color: var(--color-gamma);
    border-radius: 4px;
    color: var(--color-epsilon);
    padding: 1px 8px;
    font-size: .75em;
    margin: 1px 10px;
  }
  
  .skill.badge {
    margin: 2px;
  }
  
  .skills-container {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap onto the next line */
    gap: 5px;
    align-items: flex-start; /* Align to top to avoid centering */
    width: 100%; /* Ensure container takes full width */
  }
  