<div *ngIf="skills">
  <!-- SKILLS -->
  <div class="box">
    <div class="col-xs-12 col-sm-7">
      <h2><i class="fas fa-tasks ico"></i> Skills</h2>
      <div class="skills clearfix">
        <div *ngFor="let skill of skills" class="item-skills">
          {{ skill.name }}
          <!-- <span class="skill-level">{{ skill.level }}</span> -->
          <!-- Removed col-sm-offset-1 and col-sm-12 -->
          <div class="skills-container">
            <span class="skill badge" *ngFor="let keyword of skill.keywords">{{ keyword }}</span>
          </div>
        </div>
      </div>
    </div>
    <app-contact class="hide-on-mobile"></app-contact>
  </div>
</div>
